:host
{
    --border-color: rgb(95, 95, 95);
    border: solid 1px var(--border-color);
    border-radius: 3px;
    padding: 0;
    margin: .25em;
    display: inline-flex;
}
@media (prefers-color-scheme: dark) 
{
    :host
    {
        --border-color: rgb(71, 71, 71);
    }
}

:host:has(#description:focus)
{
    outline: var(--task-focus-outline);
}

#color-container
{
    display: contents;
}

#color
{
    margin: 0;
    padding: 0;
    width: 7.5px;
    min-height: 0;
    height: auto;
    border: none;
}
#color::-moz-color-swatch 
{
    border: none;
    padding: 0;
    margin: 0;
}

#color::-webkit-color-swatch-wrapper 
{
    padding: 0;
    margin: 0;
}

#color::-webkit-color-swatch 
{
    border: none;
    padding: 0;
    margin: 0;
}

#is-finished
{
    margin: 1em .5em;
}

:host(.custom-checkbox) #is-finished
{
    display: none;
}

#finished-indicator
{
    margin-block: var(--margin-block, var(--margin, .5em));
    margin-inline: var(--margin-inline, var(--margin, .5em));
    background: var(--background);
    background-color: var(--background-color, field);
    background-image: var(--background-image, none);
    border: var(--border, solid 1px fieldtext);
    color: var(--color);
    min-width: 13px;
    min-height: 13px;
    border-radius: 3px;
    padding: 1px 2px;
    box-sizing: border-box;
    user-select: none;
}
:host(:not(.custom-checkbox)) #finished-indicator
{
    display: none;
}


#is-finished:checked ~ slot #description
,#is-finished:checked ~ ::slotted([slot="description"])
{
    text-decoration: line-through;
}

::slotted([slot="custom-check"])
{
    visibility: hidden;
}
#is-finished:checked ~ #finished-indicator
{
    background: var(--finished-background);
    background-color: var(--finished-background-color, transparent);
    background-image: var(--finished-background-image, none);
    border: var(--finished-border, solid 1px fieldtext);
    color: var(--finished-color);
}
#is-finished:checked ~ #finished-indicator ::slotted([slot="custom-check"])
{
    visibility: var(--custom-check-visibility, visible);
    display: var(--custom-check-display, block);
}

#description
{
    /* user-agent input defaults */
    --input-border-color: rgb(118, 118, 118);

    min-height: 1.2em;
    min-width: 24px;
    resize: both;
    background-color: field;
    color: fieldtext;
    border: solid 1px var(--input-border-color, fieldtext);
    padding: 3px 15px 3px 5px;
    font-size: 12px;
    font-family: sans-serif;
    display: block;
    border-radius: 2px;
    overflow: auto;
    overflow-wrap: normal;

}
@media (prefers-color-scheme: dark) 
{
    :host
    {
        /* user-agent input defaults */
        --input-border-color: rgb(133, 133, 133);
    }
}

#description
,::slotted([slot="description"])
{
    margin: 1em .5em 1em 0;
    flex: 1;
}

#remove-button
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin:1em .5em 1em 0;
}
#remove-icon
{
    width: var(--icon-width, var(--icon-size, 12px));
    height: var(--icon-height, var(--icon-size, 12px));
}


:host(.stacked)
{
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: auto 1fr;
}

:host(.stacked) #color-container
,:host(.stacked) #color
{
    grid-row: 2;
    grid-column: 2;
    width: 14px;
    height: 14px;
    margin-block-end: 7px;
    margin-block-start: 0;
    border-radius: 3px;
    align-self: center;
    justify-self: center;
}

:host(.stacked) #handle
{
    grid-row: span 2;
    grid-column: 1;
}

:host(.stacked) #is-finished
{
    grid-row: 1;
    grid-column: 2;
    margin-block-start: 7px;
    margin-block-end: 0;
}

:host(.stacked) #description
,:host(.stacked) #remove-button
{
    grid-row: span 2;
    margin-top: 7px;
    margin-bottom: 7px;
}